
body {
    background: linear-gradient(#cdffd8, #94b9ff);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



.box5 {
    width: 96vw;
    height: 100vh;
    display: flex;
}

.box6 {
    width: 80%;
    margin: 85px 25px 35px 90px;
}

.heading5 {
    display: flex;
    color: rgb(148, 76, 187);
    font-size: 36px;
}

.para5 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size: 20px;
    color: black;
    margin-left: 0px;
}

.three-cards {
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line on smaller screens */
    justify-content: space-between;
    padding-left: 100px;
}

.card {
    background: linear-gradient(#94b9ff);
    /* Adjusted card width for smaller screens */
    margin-bottom: 20px;
    /* Added space between cards */
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    width: 20%;
    height: 50%;
    margin-top: 50px;
}

.card a {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
}

.card img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 12%;
    border-top-right-radius: 12%;


}

.plus {
    background-color: white;
    width: 100%;
    height: 14%;
    display: flex;
    font-size: 50px;
    justify-content: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}



@media screen and (max-width: 768px) {
    .box6 {
        margin: 15px;
    }

    /* .box5 {
        margin-top: 250px;
    } */

    .heading5 {
        font-size: 24px;
        margin-left: 55px;
    }

    .para5 {
        font-size: 16px;
    }

    .card {
        width: 100%;
    }

    .three-cards {
        justify-content: center;
        padding-left: 10px;
    }

    .testimonials {
        margin-top: 650px;
    }

    .form-group input, .form-group textarea {
        width: 100%;
        margin-bottom: 10px;
    }
}