body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(#cdffd8, #94b9ff);
}

.container {
    margin: 50px auto;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: linear-gradient(#cdffd8, #94b9ff);
    /* border: 1px solid black; */
    height: 100vh;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
