body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
        background: linear-gradient(#cdffd8, #94b9ff);
   
}

.registration-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    max-width: 550px;
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(#cdffd8, #94b9ff);
    /* border: 1px solid black; */

}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form-group input,
.form-group label {
    margin-right: 10px;
}

.form-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input[type="file"] {
    padding: 10px 0;
    border: none;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .registration-container {
        max-width: 90%;
        margin-left: 0;
        margin-top: 390px;
    }

    .form-group {
        flex-direction: column;
    }

    .form-group input,
    .form-group label {
        margin-right: 0;
        margin-bottom: 10px;
    }
}